:root {
  --green-500: hsl(158, 36%, 37%);
  --green-700: hsl(158, 42%, 18%);
  --black: hsl(212, 21%, 14%);
  --grey: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--cream);
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.product-container {
  width: 100%;
  max-width: 50rem;
  background-color: var(--white);
  border-radius: 2rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product-img {
  border-radius: 1.5rem 0 0 1.5rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.product-details {
  padding: 3rem;
}

.product-tag {
  color: var(--grey);
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 1.5rem;
}

.product-title {
  color: var(--black);
  font-size: 3rem;
  font-family: "Fraunces", serif;
  line-height: 1.1;
  margin-bottom: 1.5rem;
}

.product-info {
  color: var(--grey);
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.product-prices {
  font-family: "Fraunces", serif;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.product-new-price {
  color: var(--green-500);
  font-weight: 700;
  font-size: 2.4rem;
  margin-right: 1.5rem;
}

.product-old-price {
  color: var(--grey);
  text-decoration: line-through;
}

.product-btn {
  color: var(--white);
  background-color: var(--green-500);
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 0.7rem;
  border: none;
  width: 100%;
  padding: 1rem 3rem;

  display: flex;
  gap: 0.7rem;
  align-items: center;
  justify-content: center;
}

.product-btn:hover,
.product-btn:active {
  background-color: var(--green-700);
}

ion-icon {
  font-size: 1.6rem;
  --ionicon-stroke-width: 5rem;
}

/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */
/* Mobile = 384px = 24em */

/******************************************/
/* BELOW 384px (Mobile) */
/******************************************/
@media (max-width: 24em) {
  .product-container {
    grid-template-columns: 1fr;
    margin: 4.8rem 1.6rem;
  }

  .product-img {
    border-radius: 1.5rem 1.5rem 0 0;
    object-fit: cover;
    display: block;
  }
}
